.formulario
	margin: 2em

.formulario input[type='text']
	border: 1px solid #ccc
	border-radius: 5px
	margin-bottom: 0.4em
	padding: 0.2em 0.6em
	width: calc(100% - 1.3em)

.formulario input[type='button']
	width: 100%
